<div class="container">
    <h1>Currency Exchange Rate</h1>

    <div class="message">{{message}}</div>

    <div class="row">
        <div class="col-6">
            <input type="text" [(ngModel)]="from" (keyup)="onChange()">
        </div>
        <div class="col-6">
            <select [(ngModel)]="fromCurrency" (change)="onChange()">
                <option *ngFor="let currency of currencies" [value]="currency.code">
                    {{currency.currency}} ({{currency.code}})
                </option>
            </select>
        </div>
    </div>

    <h2>=</h2>

    <div class="row">
        <div class="col-6">
            <input type="text" disabled [(ngModel)]="to" (keyup)="onChange()">&nbsp;
        </div>
        <div class="col-6">
            <select [(ngModel)]="toCurrency" (change)="onChange()">
                <option *ngFor="let currency of currencies" [value]="currency.code">
                    {{currency.currency}} ({{currency.code}})
                </option>
            </select>
        </div>
    </div>
</div>